
section {
    font-size: 30px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    width: 80%;
    border: 5px ridge rgb(135, 134, 134);
    background-color: rgb(244, 183, 142);
    text-align: center;    
    display: flex;
    flex-direction: column;
    align-items: center;
}


.comp {
    padding: 20px;
    font-size: 18px;
    width: 60%;
    margin: auto;
}

button {
    background-color: rgb(240, 202, 202);
}
button:hover{
    background-color: rgb(213, 112, 84);
}

.carrito {
    font-size: 20px;
    margin-top: 3px;
}


.counter {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.counter div {
    width: 100%;
}

.agr {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 80%;
    justify-content: space-around;
    align-items: flex-start;
}

@media screen and (max-width: 1100px) {
    .agr {
        flex-direction: column;
        align-items: center;
    }
    .counter {
        width: 60%;
    }
}
